
|Authors Name|ID      |
|------------|------- |
|Ben Allen   |18044679|
|Johney Jijin|18032679|
|Jamie Scott |18041508|

###### Imports and defaults

In [1]:
from IPython.core.display import display, HTML, Markdown as md
display(HTML("""<style>.container { width:100% !important; } p, ul {max-width: 40em;} .rendered_html table { margin-left: 0; } .output_subarea.output_png { display: flex; justify-content: center;}</style>"""))

import matplotlib.pyplot as plt
from pylab import rcParams
import pandas as pd
import seaborn as sns
import numpy as np

rcParams['figure.dpi'] = 350
rcParams['axes.labelsize'] = 'large'
rcParams['xtick.labelsize'] = 20
rcParams['ytick.labelsize'] = 20
rcParams['lines.linewidth'] = 2
rcParams['font.size'] = 18

%matplotlib inline
sns.set_style('darkgrid')
pd.set_option('max_columns', 100)
pd.set_option('max_rows', 20)

---

<center style="background: #f8f8f8;padding: 1rem;padding-bottom: 2.5rem;border-radius: 8px;">
<a id="Home"></a>

# A cold wet night in Stoke: The myth/legend of the unglamorous away fixture.

</center>

- [Introduction](#Introduction)
- [Research Question](#Research_Question)
- [Importing Data](#Importing_Data)
- [Cleaning and Wrangling](#Cleaning_and_Wrangling)
- [Data Sources](#Data_Sources)
- [References](#References)

- Import datasets
- Clean datasets
- whatever else

<a id="Introduction"></a>
## Introduction 

Nine years ago, just a few days before Christmas at the midpoint in the 2010/11 season, football commentator Andy Gray gave the football lexicon a small but lasting gift. He and Richard Keys were filling the time before kickoff in the televised Monday night match discussing the relative merits of two of the greatest players of all time, Lionel Messi and Cristiano Ronaldo who were going head-to-head for yet another award.

Depsite being full of praise for Messi, who played (and still does) for Barcelona in Spain's La Liga, Gray suggested the player many believe the best to play to play the game "would struggle on a cold night at the Britannia Staidium"$^{1}$, where Stoke City play their home games. For Stoke, it appeared a relatively generous assertion given they were hardly one of the best sides in England, let alone Europe.

The quote morphed and took on a life of its own. "Can he/they/she do it on a cold, rainy night in Stoke" has became a sometimes serious, often tongue-in-cheek benchmark for quality, especially in unfamiliar or unpleasant conditions even beyond the realm of football. SHowing how serious teh notion is sometimes taken, the Daily Telgraph named it one of the ten most enduring football debates,$^{2}$ while at the other end of the scale, the line even spawned its own video game.$^{3}$

Stoke spent 10 seasons in the top flight before being relegated to the second tier of English football at the end of the 2017/18 season but the meme lives on. Recently when English side knocked Barcelona out of the European Champions League, many twitter users saw it as evidence that Messi could not in fact do it on a cold night in Stoke, setting aside the fact that Stoke and Liverpool are in fact different places (and Messi and his teammates have knocked plenty of English and Scottish sides out of the Champions League). Nonetheless it piqued our interest in the math behind the myth.

In [2]:
from IPython.core.display import HTML 
HTML("<iframe src=https://www.telegraph.co.uk/sport/11611106/The-10-most-enduring-football-debates.html?frame=3307440 width=1200 height=500></iframe>")

C:\Users\jijin\Anaconda3\lib\site-packages\IPython\core\display.py:689: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

<a id="Research_Question"></a>
## Research question
Driving this report is the exploration of the following question:
> Is there any validity to the notion that an away fixture on a cold, wet night in Stoke is a tough fixture?

Firstly we'll examine some of the reasons why Stoke of all places was singled out in this otherwise throwaway comment. Is it particularly cold or wet? Are there other factors that might contrbute to it being a tough away match?

Next, we'll dive deeper into just how difficult a fixture away to Stoke was, based on results from their ten year stay on the Prmeier League. Did they become harder to beat when in cold or wet weather? Or at night? Or maybe a given a combination of those things. Crucially, were they harder to beat than other teams.

Finally we'll use machine learning to .....DO SOMETHING COOL OR INTERESTING

<a id="Importing_Data"></a>
## Importing datasets - (heading just for internal use at this stage)

In [3]:
#import smaller dataset from 07/08 - 17/18 that contains time info
DatasetOne = pd.read_csv("./epl_data.csv")
DatasetOne.head()

,Match_ID,Team_Home,Team_Away,HG,AG,X/U,Season,Date_Time,Referee_Name,Att,BBC_Football_URL,Sky_Sports_URL
0,12,Sunderland,Tottenham Hotspur,1,0,X,2007/2008,11/08/2007 12:45,Alan Wiley,43967,http://news.bbc.co.uk/sport1/hi/football/eng_p...,http://www.skysports.com/football/sland-vs-tot...
1,13,Bolton Wanderers,Newcastle United,1,3,X,2007/2008,11/08/2007 15:00,Chris Foy,25414,http://news.bbc.co.uk/sport1/hi/football/eng_p...,http://www.skysports.com/football/bolton-vs-ne...
2,14,Derby County,Portsmouth,2,2,X,2007/2008,11/08/2007 15:00,Mike Dean,32176,http://news.bbc.co.uk/sport1/hi/football/eng_p...,http://www.skysports.com/football/derby-vs-por...
3,15,Everton,Wigan Athletic,2,1,X,2007/2008,11/08/2007 15:00,Mark Clattenburg,39220,http://news.bbc.co.uk/sport1/hi/football/eng_p...,http://www.skysports.com/football/everton-vs-w...
4,16,Middlesbrough,Blackburn Rovers,1,2,X,2007/2008,11/08/2007 15:00,Andre Marriner,25058,http://news.bbc.co.uk/sport1/hi/football/eng_p...,http://www.skysports.com/football/mboro-vs-bla...

In [4]:
#import bigger dataset that has extra info but not time data
DatasetTwo = pd.read_csv("./EPL 2000-2018.csv")
DatasetTwo.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
0,19/08/00,Charlton,Man City,4.0,0.0,H,2.0,0.0,H,Rob Harris,17.0,8.0,14.0,4.0,13.0,12.0,6.0,6.0,1.0,2.0,0.0,0.0,00-01
1,19/08/00,Chelsea,West Ham,4.0,2.0,H,1.0,0.0,H,Graham Barber,17.0,12.0,10.0,5.0,19.0,14.0,7.0,7.0,1.0,2.0,0.0,0.0,00-01
2,19/08/00,Coventry,Middlesbrough,1.0,3.0,A,1.0,1.0,D,Barry Knight,6.0,16.0,3.0,9.0,15.0,21.0,8.0,4.0,5.0,3.0,1.0,0.0,00-01
3,19/08/00,Derby,Southampton,2.0,2.0,D,1.0,2.0,A,Andy D'Urso,6.0,13.0,4.0,6.0,11.0,13.0,5.0,8.0,1.0,1.0,0.0,0.0,00-01
4,19/08/00,Leeds,Everton,2.0,0.0,H,2.0,0.0,H,Dermot Gallagher,17.0,12.0,8.0,6.0,21.0,20.0,6.0,4.0,1.0,3.0,0.0,0.0,00-01

In [5]:
DatasetOne.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4180 entries, 0 to 4179
Data columns (total 12 columns):
Match_ID            4180 non-null int64
Team_Home           4180 non-null object
Team_Away           4180 non-null object
HG                  4180 non-null int64
AG                  4180 non-null int64
X/U                 4180 non-null object
Season              4180 non-null object
Date_Time           4180 non-null object
Referee_Name        4180 non-null object
Att                 4180 non-null int64
BBC_Football_URL    4180 non-null object
Sky_Sports_URL      4180 non-null object
dtypes: int64(4), object(8)
memory usage: 392.0+ KB

In [6]:
DatasetTwo.info()
#note extra non-null entry for season and floats instead of ints

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6461 entries, 0 to 6460
Data columns (total 23 columns):
Date        6460 non-null object
HomeTeam    6460 non-null object
AwayTeam    6460 non-null object
FTHG        6460 non-null float64
FTAG        6460 non-null float64
FTR         6460 non-null object
HTHG        6460 non-null float64
HTAG        6460 non-null float64
HTR         6460 non-null object
Referee     6460 non-null object
HS          6460 non-null float64
AS          6460 non-null float64
HST         6460 non-null float64
AST         6460 non-null float64
HF          6460 non-null float64
AF          6460 non-null float64
HC          6460 non-null float64
AC          6460 non-null float64
HY          6460 non-null float64
AY          6460 non-null float64
HR          6460 non-null float64
AR          6460 non-null float64
Season      6461 non-null object
dtypes: float64(16), object(7)
memory usage: 1.1+ MB

<a id="Cleaning_and_Wrangling"></a>
## Clean datasets

In [7]:
#There's an extra non-null entry in the Season column - check if it's a rogue entry
DatasetTwo.Season.unique()

array(['00-01', '02-03', '03-04', '04-05', '05-06', '06-07', '07-08',
       '08-09', '09-10', '10-11', '11-12', '12-13', '13-14', '14-15',
       '15-16', '16-17', '17-18'], dtype=object)

In [8]:
# DatasetTwo.isnull().sum()

In [9]:
#find row with extra entry 
DatasetTwo[DatasetTwo.HomeTeam.isnull()]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
5320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14-15

In [10]:
#make sure there's 380 fixtures for the 14-15 season. There's 381, we can delete.
DatasetTwo[DatasetTwo.Season == '14-15']

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
4940,16/08/14,Arsenal,Crystal Palace,2.0,1.0,H,1.0,1.0,D,J Moss,14.0,4.0,6.0,2.0,13.0,19.0,9.0,3.0,2.0,2.0,0.0,1.0,14-15
4941,16/08/14,Leicester,Everton,2.0,2.0,D,1.0,2.0,A,M Jones,11.0,13.0,3.0,3.0,16.0,10.0,3.0,6.0,1.0,1.0,0.0,0.0,14-15
4942,16/08/14,Man United,Swansea,1.0,2.0,A,0.0,1.0,A,M Dean,14.0,5.0,5.0,4.0,14.0,20.0,4.0,0.0,2.0,4.0,0.0,0.0,14-15
4943,16/08/14,QPR,Hull,0.0,1.0,A,0.0,0.0,D,C Pawson,19.0,11.0,6.0,4.0,10.0,10.0,8.0,9.0,1.0,2.0,0.0,0.0,14-15
4944,16/08/14,Stoke,Aston Villa,0.0,1.0,A,0.0,0.0,D,A Taylor,12.0,7.0,2.0,2.0,14.0,9.0,2.0,8.0,0.0,3.0,0.0,0.0,14-15
4945,16/08/14,West Brom,Sunderland,2.0,2.0,D,1.0,1.0,D,N Swarbrick,10.0,7.0,5.0,2.0,18.0,9.0,6.0,3.0,3.0,1.0,0.0,0.0,14-15
4946,16/08/14,West Ham,Tottenham,0.0,1.0,A,0.0,0.0,D,C Foy,18.0,10.0,4.0,4.0,12.0,10.0,8.0,5.0,1.0,0.0,1.0,1.0,14-15
4947,17/08/14,Liverpool,Southampton,2.0,1.0,H,1.0,0.0,H,M Clattenburg,12.0,12.0,5.0,6.0,8.0,11.0,2.0,6.0,1.0,2.0,0.0,0.0,14-15
4948,17/08/14,Newcastle,Man City,0.0,2.0,A,0.0,1.0,A,M Atkinson,12.0,13.0,0.0,5.0,8.0,11.0,3.0,3.0,1.0,5.0,0.0,0.0,14-15
4949,18/08/14,Burnley,Chelsea,1.0,3.0,A,1.0,3.0,A,M Oliver,9.0,11.0,2.0,3.0,6.0,7.0,4.0,3.0,1.0,1.0,0.0,0.0,14-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5311,24/05/15,Aston Villa,Burnley,0.0,1.0,A,0.0,1.0,A,M Jones,16.0,6.0,5.0,3.0,9.0,6.0,7.0,2.0,1.0,2.0,0.0,0.0,14-15
5312,24/05/15,Chelsea,Sunderland,3.0,1.0,H,1.0,1.0,D,L Mason,24.0,17.0,8.0,9.0,12.0,8.0,11.0,3.0,2.0,1.0,0.0,0.0,14-15
5313,24/05/15,Crystal Palace,Swansea,1.0,0.0,H,0.0,0.0,D,C Pawson,13.0,5.0,7.0,2.0,22.0,13.0,7.0,3.0,3.0,0.0,0.0,0.0,14-15
5314,24/05/15,Everton,Tottenham,0.0,1.0,A,0.0,1.0,A,J Moss,9.0,16.0,1.0,3.0,12.0,8.0,3.0,5.0,1.0,2.0,0.0,0.0,14-15
5315,24/05/15,Hull,Man United,0.0,0.0,D,0.0,0.0,D,L Probert,16.0,7.0,6.0,1.0,12.0,15.0,8.0,1.0,2.0,2.0,0.0,1.0,14-15
5316,24/05/15,Leicester,QPR,5.0,1.0,H,2.0,0.0,H,M Oliver,22.0,18.0,7.0,2.0,7.0,6.0,5.0,6.0,0.0,0.0,0.0,0.0,14-15
5317,24/05/15,Man City,Southampton,2.0,0.0,H,1.0,0.0,H,C Foy,15.0,13.0,6.0,4.0,13.0,8.0,8.0,4.0,1.0,1.0,0.0,0.0,14-15
5318,24/05/15,Newcastle,West Ham,2.0,0.0,H,0.0,0.0,D,M Atkinson,17.0,4.0,4.0,1.0,9.0,9.0,2.0,3.0,2.0,1.0,0.0,0.0,14-15
5319,24/05/15,Stoke,Liverpool,6.0,1.0,H,5.0,0.0,H,A Taylor,15.0,13.0,9.0,4.0,13.0,4.0,3.0,9.0,4.0,2.0,0.0,0.0,14-15
5320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14-15

In [11]:
DatasetOne.drop(['X/U', 'BBC_Football_URL', 'Sky_Sports_URL'], axis=1, inplace=True)

SeasonstoDelete = ['00-01', '02-03', '03-04', '04-05', '05-06', '06-07']
RowsToDelete = list(row for row in list(DatasetTwo.index) if DatasetTwo.Season[row] in SeasonstoDelete)
DatasetTwo.drop(RowsToDelete+[5320], inplace=True)
del DatasetTwo['Referee']

In [12]:
DatasetOne.Season.unique()

array(['2007/2008', '2008/2009', '2009/2010', '2010/2011', '2011/2012',
       '2012/2013', '2013/2014', '2014/2015', '2015/2016', '2016/2017',
       '2017/2018'], dtype=object)

In [13]:
#renaming in DatasetOne for consistency with datasetTwo to help with merging
DatasetOne.columns = ['Match_ID', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'Season', 'Date_Time',
       'Referee', 'Att']

In [14]:
# dict to align season values between datasets
SeasonDict = {'2007/2008':'07-08', '2008/2009':'08-09', '2009/2010':'09-10', '2010/2011':'10-11', '2011/2012':'11-12', 
              '2012/2013':'12-13', '2013/2014':'13-14', '2014/2015':'14-15', '2015/2016':'15-16', '2016/2017':'16-17',
              '2017/2018':'17-18'}

#create a dict to align team names in HomeTeam and AwayTeam columns
differentnamesOne = [country for country in list(DatasetOne.HomeTeam.unique()) if country not in list(DatasetTwo.HomeTeam.unique())]
differentnamesTwo = [country for country in list(DatasetTwo.HomeTeam.unique()) if country not in list(DatasetOne.HomeTeam.unique())]

renameTeams = {}
for i, name in enumerate(differentnamesOne):
    renameTeams.update({differentnamesTwo[i]:differentnamesOne[i]})

DatasetOne.replace({'Season':SeasonDict}, inplace=True)
DatasetTwo.replace({'HomeTeam':renameTeams, 'AwayTeam':renameTeams}, inplace=True)

In [15]:
# renameTeams

In [16]:
for col in list(DatasetTwo.columns):
    if DatasetTwo[col].dtype == 'float64':
        DatasetTwo[col] = DatasetTwo[col].astype('int64')

In [17]:
DatasetOne.head(20)

,Match_ID,HomeTeam,AwayTeam,FTHG,FTAG,Season,Date_Time,Referee,Att
0,12,Sunderland,Tottenham Hotspur,1,0,07-08,11/08/2007 12:45,Alan Wiley,43967
1,13,Bolton Wanderers,Newcastle United,1,3,07-08,11/08/2007 15:00,Chris Foy,25414
2,14,Derby County,Portsmouth,2,2,07-08,11/08/2007 15:00,Mike Dean,32176
3,15,Everton,Wigan Athletic,2,1,07-08,11/08/2007 15:00,Mark Clattenburg,39220
4,16,Middlesbrough,Blackburn Rovers,1,2,07-08,11/08/2007 15:00,Andre Marriner,25058
5,17,West Ham United,Manchester City,0,2,07-08,11/08/2007 15:00,Peter Walton,34921
6,18,Aston Villa,Liverpool,1,2,07-08,11/08/2007 17:15,Mike Riley,42640
7,19,Arsenal,Fulham,2,1,07-08,12/08/2007 12:00,Phil Dowd,60093
8,20,Chelsea,Birmingham City,3,2,07-08,12/08/2007 13:30,Steve Bennett,41590
9,21,Manchester United,Reading,0,0,07-08,12/08/2007 16:00,Rob Styles,75655
10,22,Tottenham Hotspur,Everton,1,3,07-08,14/08/2007 20:00,Mark Halsey,35716
11,23,Birmingham City,Sunderland,2,2,07-08,15/08/2007 19:45,Keith Stroud,24898
12,24,Fulham,Bolton Wanderers,2,1,07-08,15/08/2007 19:45,Lee Probert,21102
13,25,Manchester City,Derby County,1,0,07-08,15/08/2007 19:45,Lee Mason,43620
14,26,Portsmouth,Manchester United,1,1,07-08,15/08/2007 19:45,Steve Bennett,20510
15,27,Reading,Chelsea,1,2,07-08,15/08/2007 20:00,Mike Dean,24031
16,28,Wigan Athletic,Middlesbrough,1,0,07-08,15/08/2007 20:00,Steve Tanner,14007
17,29,Portsmouth,Bolton Wanderers,3,1,07-08,18/08/2007 12:45,Steve Tanner,17108
18,30,Birmingham City,West Ham United,0,1,07-08,18/08/2007 15:00,Mark Halsey,24961
19,31,Fulham,Middlesbrough,1,2,07-08,18/08/2007 15:00,Lee Mason,20948

In [18]:
DatasetTwo.reset_index(inplace=True)
DatasetTwo.head()

,index,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
0,2280,11/08/07,Aston Villa,Liverpool,1,2,A,0,1,A,10,17,6,7,18,11,4,2,4,2,0,0,07-08
1,2281,11/08/07,Bolton Wanderers,Newcastle United,1,3,A,0,3,A,13,7,9,5,15,16,4,3,1,1,0,0,07-08
2,2282,11/08/07,Derby County,Portsmouth,2,2,D,1,1,D,12,12,5,6,14,17,6,6,1,2,0,0,07-08
3,2283,11/08/07,Everton,Wigan Athletic,2,1,H,1,0,H,12,14,8,4,8,13,6,2,0,0,0,0,07-08
4,2284,11/08/07,Middlesbrough,Blackburn Rovers,1,2,A,1,0,H,10,4,6,4,16,16,13,3,3,4,0,0,07-08

In [19]:
DatasetOne.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4180 entries, 0 to 4179
Data columns (total 9 columns):
Match_ID     4180 non-null int64
HomeTeam     4180 non-null object
AwayTeam     4180 non-null object
FTHG         4180 non-null int64
FTAG         4180 non-null int64
Season       4180 non-null object
Date_Time    4180 non-null object
Referee      4180 non-null object
Att          4180 non-null int64
dtypes: int64(4), object(5)
memory usage: 294.0+ KB

In [20]:
DatasetTwo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4180 entries, 0 to 4179
Data columns (total 23 columns):
index       4180 non-null int64
Date        4180 non-null object
HomeTeam    4180 non-null object
AwayTeam    4180 non-null object
FTHG        4180 non-null int64
FTAG        4180 non-null int64
FTR         4180 non-null object
HTHG        4180 non-null int64
HTAG        4180 non-null int64
HTR         4180 non-null object
HS          4180 non-null int64
AS          4180 non-null int64
HST         4180 non-null int64
AST         4180 non-null int64
HF          4180 non-null int64
AF          4180 non-null int64
HC          4180 non-null int64
AC          4180 non-null int64
HY          4180 non-null int64
AY          4180 non-null int64
HR          4180 non-null int64
AR          4180 non-null int64
Season      4180 non-null object
dtypes: int64(17), object(6)
memory usage: 751.2+ KB

In [21]:
# print(DatasetOne.HomeTeam.unique())
# print('--------')
# print(DatasetTwo.HomeTeam.unique())

In [22]:
# DatasetTwo.info()

In [23]:
PremierLeague = pd.merge(DatasetOne, DatasetTwo)

In [24]:
PremierLeague.head()

,Match_ID,HomeTeam,AwayTeam,FTHG,FTAG,Season,Date_Time,Referee,Att,index,Date,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,12,Sunderland,Tottenham Hotspur,1,0,07-08,11/08/2007 12:45,Alan Wiley,43967,2285,11/08/07,H,0,0,D,9,6,4,3,14,14,7,2,1,1,0,0
1,13,Bolton Wanderers,Newcastle United,1,3,07-08,11/08/2007 15:00,Chris Foy,25414,2281,11/08/07,A,0,3,A,13,7,9,5,15,16,4,3,1,1,0,0
2,14,Derby County,Portsmouth,2,2,07-08,11/08/2007 15:00,Mike Dean,32176,2282,11/08/07,D,1,1,D,12,12,5,6,14,17,6,6,1,2,0,0
3,15,Everton,Wigan Athletic,2,1,07-08,11/08/2007 15:00,Mark Clattenburg,39220,2283,11/08/07,H,1,0,H,12,14,8,4,8,13,6,2,0,0,0,0
4,16,Middlesbrough,Blackburn Rovers,1,2,07-08,11/08/2007 15:00,Andre Marriner,25058,2284,11/08/07,A,1,0,H,10,4,6,4,16,16,13,3,3,4,0,0

In [25]:
PremierLeague.info()

### ONE MATCH IS MISSING - MUST BE A DIFFERENT SCORE IN EACH DATASET ##

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4179 entries, 0 to 4178
Data columns (total 27 columns):
Match_ID     4179 non-null int64
HomeTeam     4179 non-null object
AwayTeam     4179 non-null object
FTHG         4179 non-null int64
FTAG         4179 non-null int64
Season       4179 non-null object
Date_Time    4179 non-null object
Referee      4179 non-null object
Att          4179 non-null int64
index        4179 non-null int64
Date         4179 non-null object
FTR          4179 non-null object
HTHG         4179 non-null int64
HTAG         4179 non-null int64
HTR          4179 non-null object
HS           4179 non-null int64
AS           4179 non-null int64
HST          4179 non-null int64
AST          4179 non-null int64
HF           4179 non-null int64
AF           4179 non-null int64
HC           4179 non-null int64
AC           4179 non-null int64
HY           4179 non-null int64
AY           4179 non-null int64
HR           4179 non-null int64
AR           4179 non-null int64
dtypes: int64(19), object(8)
memory usage: 914.2+ KB

In [26]:
seasoncount = []
for year in list(PremierLeague.Season.unique()):
    seasoncount.append((year, PremierLeague[PremierLeague.Season == year].Date.count()))
seasoncount

#14-15

PL1415 = PremierLeague[PremierLeague.Season == '14-15']

teamHcount = []
for team in list(PL1415.HomeTeam.unique()):
    teamHcount.append((team, PL1415[PL1415.HomeTeam == team].Date.count()))
teamHcount

#Tottenham


teamAcount = []
for team in list(PL1415.AwayTeam.unique()):
    teamAcount.append((team, PL1415[PL1415.AwayTeam == team].Date.count()))
teamAcount

#Tottenham v Man City

# print(DatasetOne[DatasetOne.Season == '14-15'][DatasetOne.HomeTeam == 'Tottenham'][DatasetOne.AwayTeam == 'Man City'])
# print(DatasetTwo[DatasetTwo.Season == '14-15'][DatasetTwo.HomeTeam == 'Tottenham'][DatasetTwo.AwayTeam == 'Man City'])

#score around the wrong way. Checked online to see which one was incorrect. Score in dataset 1 needed to change.

DatasetOne.at[3007, 'FTHG'] = 0
DatasetOne.at[3007, 'FTAG'] = 1
DatasetOne.iloc[3007]

Match_ID                  3151
HomeTeam     Tottenham Hotspur
AwayTeam       Manchester City
FTHG                         0
FTAG                         1
Season                   14-15
Date_Time     03/05/2015 16:00
Referee         Andre Marriner
Att                      35784
Name: 3007, dtype: object

In [27]:
#merge again.
PremierLeague = pd.merge(DatasetOne, DatasetTwo)

In [28]:
PremierLeague.info()
#4180 entries. All good.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4180 entries, 0 to 4179
Data columns (total 27 columns):
Match_ID     4180 non-null int64
HomeTeam     4180 non-null object
AwayTeam     4180 non-null object
FTHG         4180 non-null int64
FTAG         4180 non-null int64
Season       4180 non-null object
Date_Time    4180 non-null object
Referee      4180 non-null object
Att          4180 non-null int64
index        4180 non-null int64
Date         4180 non-null object
FTR          4180 non-null object
HTHG         4180 non-null int64
HTAG         4180 non-null int64
HTR          4180 non-null object
HS           4180 non-null int64
AS           4180 non-null int64
HST          4180 non-null int64
AST          4180 non-null int64
HF           4180 non-null int64
AF           4180 non-null int64
HC           4180 non-null int64
AC           4180 non-null int64
HY           4180 non-null int64
AY           4180 non-null int64
HR           4180 non-null int64
AR           4180 non-null int64
dtypes: int64(19), object(8)
memory usage: 914.4+ KB

In [29]:
PremierLeague.HomeTeam.unique()

array(['Sunderland', 'Bolton Wanderers', 'Derby County', 'Everton',
       'Middlesbrough', 'West Ham United', 'Aston Villa', 'Arsenal',
       'Chelsea', 'Manchester United', 'Tottenham Hotspur',
       'Birmingham City', 'Fulham', 'Manchester City', 'Portsmouth',
       'Reading', 'Wigan Athletic', 'Newcastle United',
       'Blackburn Rovers', 'Liverpool', 'Hull City', 'Stoke City',
       'West Bromwich Albion', 'Wolverhampton Wanderers', 'Burnley',
       'Blackpool', 'Queens Park Rangers', 'Swansea City', 'Norwich City',
       'Southampton', 'Crystal Palace', 'Cardiff City', 'Leicester City',
       'Bournemouth', 'Watford', 'Brighton & Hove Albion',
       'Huddersfield Town'], dtype=object)

In [30]:
ClubCities ={'Sunderland':'Sunderland', 'Bolton Wanderers':'Bolton', 'Derby County':'Derby', 'Everton':'Liverpool', 'Middlesbrough':'Middlesbrough',
             'West Ham United':'London', 'Aston Villa':'Birmingham', 'Arsenal':'London', 'Chelsea':'London', 'Manchester United':'Trafford', 
             'Tottenham Hotspur':'London', 'Birmingham City':'Birmingham', 'Fulham':'London', 'Manchester City':'Manchester', 'Portsmouth':'Portsmouth',
             'Reading':'Reading', 'Wigan Athletic': 'Wigan', 'Newcastle United':'Newcastle upon Tyne', 'Blackburn Rovers':'Blackburn', 'Liverpool':'Liverpool', 
             'Hull City':'Hull', 'Stoke':'Stoke-on-Trent', 'West Bromwich Albion':'West Bromwich', 'Wolverhampton Wanderers':'Wolverhampton', 
             'Burnley':'Burnley', 'Blackpool':'Blackpool', 'Queens Park Rangers':'London', 'Swansea City':'Swansea', 'Norwich City':'Norwich', 
             'Southampton':'Southampton', 'Crystal Palace':'London', 'Cardiff City':'Cardiff', 'Leicester City':'Leicester', 'Bournemouth':'Bournemouth', 
             'Watford':'Watford', 'Brighton & Hove Albion':'Falmer', 'Huddersfield Town':'Huddersfield', 'Stoke City': 'Stoke-on-Trent'}

In [31]:
PremierLeague['City']=PremierLeague['HomeTeam'].map(ClubCities)
PremierLeague

,Match_ID,HomeTeam,AwayTeam,FTHG,FTAG,Season,Date_Time,Referee,Att,index,Date,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,City
0,12,Sunderland,Tottenham Hotspur,1,0,07-08,11/08/2007 12:45,Alan Wiley,43967,2285,11/08/07,H,0,0,D,9,6,4,3,14,14,7,2,1,1,0,0,Sunderland
1,13,Bolton Wanderers,Newcastle United,1,3,07-08,11/08/2007 15:00,Chris Foy,25414,2281,11/08/07,A,0,3,A,13,7,9,5,15,16,4,3,1,1,0,0,Bolton
2,14,Derby County,Portsmouth,2,2,07-08,11/08/2007 15:00,Mike Dean,32176,2282,11/08/07,D,1,1,D,12,12,5,6,14,17,6,6,1,2,0,0,Derby
3,15,Everton,Wigan Athletic,2,1,07-08,11/08/2007 15:00,Mark Clattenburg,39220,2283,11/08/07,H,1,0,H,12,14,8,4,8,13,6,2,0,0,0,0,Liverpool
4,16,Middlesbrough,Blackburn Rovers,1,2,07-08,11/08/2007 15:00,Andre Marriner,25058,2284,11/08/07,A,1,0,H,10,4,6,4,16,16,13,3,3,4,0,0,Middlesbrough
5,17,West Ham United,Manchester City,0,2,07-08,11/08/2007 15:00,Peter Walton,34921,2286,11/08/07,A,0,1,A,9,14,2,5,13,11,5,3,0,4,0,0,London
6,18,Aston Villa,Liverpool,1,2,07-08,11/08/2007 17:15,Mike Riley,42640,2280,11/08/07,A,0,1,A,10,17,6,7,18,11,4,2,4,2,0,0,Birmingham
7,19,Arsenal,Fulham,2,1,07-08,12/08/2007 12:00,Phil Dowd,60093,2287,12/08/07,H,0,1,A,19,12,13,9,6,19,14,4,1,5,0,0,London
8,20,Chelsea,Birmingham City,3,2,07-08,12/08/2007 13:30,Steve Bennett,41590,2288,12/08/07,H,2,2,D,19,6,11,4,8,8,5,3,2,1,0,0,London
9,21,Manchester United,Reading,0,0,07-08,12/08/2007 16:00,Rob Styles,75655,2289,12/08/07,D,0,0,D,22,3,9,2,8,16,12,3,0,2,0,1,Trafford
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4170,4192,Burnley,Bournemouth,1,2,17-18,13/05/2018 15:00,Paul Tierney,20720,6451,13/05/18,A,1,0,H,12,16,4,5,14,9,7,8,0,0,0,0,Burnley
4171,4193,Crystal Palace,West Bromwich Albion,2,0,17-18,13/05/2018 15:00,Jonathan Moss,25357,6452,13/05/18,H,0,0,D,11,7,5,1,10,11,4,2,2,3,0,0,London
4172,4194,Huddersfield Town,Arsenal,0,1,17-18,13/05/2018 15:00,Michael Oliver,24122,6453,13/05/18,A,0,1,A,18,9,3,4,11,7,7,4,1,0,0,0,Huddersfield
4173,4195,Liverpool,Brighton & Hove Albion,4,0,17-18,13/05/2018 15:00,Kevin Friend,50752,6454,13/05/18,H,2,0,H,22,2,11,1,3,6,7,3,0,0,0,0,Liverpool
4174,4196,Manchester United,Watford,1,0,17-18,13/05/2018 15:00,Lee Mason,75049,6455,13/05/18,H,1,0,H,7,7,1,3,6,11,6,5,4,0,0,0,Trafford
4175,4197,Newcastle United,Chelsea,3,0,17-18,13/05/2018 15:00,Martin Atkinson,52294,6456,13/05/18,H,1,0,H,16,6,6,2,11,10,4,2,0,1,0,0,Newcastle upon Tyne
4176,4198,Southampton,Manchester City,0,1,17-18,13/05/2018 15:00,Andre Marriner,31882,6457,13/05/18,A,0,0,D,8,13,3,2,8,10,1,12,3,1,0,0,Southampton
4177,4199,Swansea City,Stoke City,1,2,17-18,13/05/2018 15:00,Anthony Taylor,20673,6458,13/05/18,A,1,2,A,26,8,11,5,12,9,6,0,1,2,0,0,Swansea
4178,4200,Tottenham Hotspur,Leicester City,5,4,17-18,13/05/2018 15:00,Craig Pawson,77841,6459,13/05/18,H,1,2,A,14,16,6,9,9,13,4,4,1,2,0,0,London
4179,4201,West Ham United,Everton,3,1,17-18,13/05/2018 15:00,Graham Scott,56926,6460,13/05/18,H,1,0,H,15,14,4,7,10,13,6,6,0,1,0,0,London

In [32]:
#How many unique combinations of date and city are there? that is, how many calls weather 

PremierLeague.groupby(['Date', 'City']).size()

Date      City
01/01/08  Birmingham        1
          London            2
          Middlesbrough     1
          Reading           1
          Trafford          1
01/01/11  Birmingham        1
          Liverpool         1
          London            2
          Manchester        1
          Stoke-on-Trent    1
                           ..
31/12/11  Trafford          1
31/12/16  Burnley           1
          Leicester         1
          Liverpool         1
          London            1
          Southampton       1
          Swansea           1
          Trafford          1
31/12/17  London            1
          West Bromwich     1
Length: 3792, dtype: int64

In [33]:
#PremierLeague.info()
PremierLeague.shape
PremierLeague.HomeTeam.unique()

PremierLeague.groupby(['Date', 'City']).size()

Date      City
01/01/08  Birmingham        1
          London            2
          Middlesbrough     1
          Reading           1
          Trafford          1
01/01/11  Birmingham        1
          Liverpool         1
          London            2
          Manchester        1
          Stoke-on-Trent    1
                           ..
31/12/11  Trafford          1
31/12/16  Burnley           1
          Leicester         1
          Liverpool         1
          London            1
          Southampton       1
          Swansea           1
          Trafford          1
31/12/17  London            1
          West Bromwich     1
Length: 3792, dtype: int64

In [34]:
# datasets with tables for previous seasons
tables = pd.read_csv("./tables.csv")

In [35]:
tables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1343 entries, 0 to 1342
Data columns (total 12 columns):
year     1343 non-null object
title    1343 non-null object
Team     1343 non-null object
A        1343 non-null int64
D        1343 non-null int64
F        1343 non-null int64
GD       1343 non-null int64
L        1343 non-null int64
P        1343 non-null int64
Pos      1343 non-null int64
Pts      1343 non-null int64
W        1343 non-null int64
dtypes: int64(9), object(3)
memory usage: 126.0+ KB

In [36]:
tables.head(10)

,year,title,Team,A,D,F,GD,L,P,Pos,Pts,W
0,2016/2017,Premier League 2016-2017,Chelsea,33,3,85,52,5,38,1,93,30
1,2016/2017,Premier League 2016-2017,Tottenham Hotspurs,26,8,86,60,4,38,2,86,26
2,2016/2017,Premier League 2016-2017,Manchester City,39,9,80,41,6,38,3,78,23
3,2016/2017,Premier League 2016-2017,Liverpool,42,10,78,36,6,38,4,76,22
4,2016/2017,Premier League 2016-2017,Arsenal,44,6,77,33,9,38,5,75,23
5,2016/2017,Premier League 2016-2017,Manchester United,29,15,54,25,5,38,6,69,18
6,2016/2017,Premier League 2016-2017,Everton,44,10,62,18,11,38,7,61,17
7,2016/2017,Premier League 2016-2017,Southampton,48,10,41,-7,16,38,8,46,12
8,2016/2017,Premier League 2016-2017,Bournemouth,67,10,55,-12,16,38,9,46,12
9,2016/2017,Premier League 2016-2017,West Bromwich Albion,51,9,43,-8,17,38,10,45,12

In [37]:
tables.tail()

,year,title,Team,A,D,F,GD,L,P,Pos,Pts,W
1338,1888/1889,First Division 1888-89,Everton,46,2,35,-11,11,22,8,20,9
1339,1888/1889,First Division 1888-89,Burnley,62,3,42,-20,12,22,9,17,7
1340,1888/1889,First Division 1888-89,Derby County,60,2,41,-19,13,22,10,16,7
1341,1888/1889,First Division 1888-89,Notts County,73,2,39,-34,15,22,11,12,5
1342,1888/1889,First Division 1888-89,Stoke City,51,4,26,-25,14,22,12,12,4

In [38]:
StokeTable = tables[tables.Team == 'Stoke City']

In [39]:
StokeTable.year.unique()

array(['2016/2017', '2014/2015', '2013/2014', '2012/2013', '2011/2012',
       '2010/2011', '2009/2010', '2008/2009', '1984/1985', '1983/1984',
       '1982/1983', '1981/1982', '1980/1981', '1979/1980', '1976/1977',
       '1974/1975', '1973/1974', '1972/1973', '1971/1972', '1970/1971',
       '1969/1970', '1968/1969', '1967/1968', '1965/1966', '1964/1965',
       '1963/1964', '1949/1950', '1948/1949', '1947/1948', '1946/1947',
       '1938/1939', '1937/1938', '1936/1937', '1891/1892', '1889/1890',
       '1888/1889'], dtype=object)

#### Get weather data 

Following cells are left as not executable to avoid hitting the API each time

Cities_Dates = PremierLeague[['City','Date_Time']].copy()
weather_cols = [ 'MintempC', 'MaxtempC', 'TempC', 'WindspeedKmph', 'WeatherDesc', 'WinddirDegree', 'Winddir16Point', 'PrecipMM', 'Humidity', 'Visibility', 'Pressure', 'Cloudcover', 'HeatIndexC', 'DewPointC', 'WindChillC', 'WindGustKmph', 'FeelsLikeC', 'UvIndex' ]
for col in weather_cols:
    Cities_Dates[col] = ''

Cities_Dates.index.name = "Index"

Cities_Dates.to_csv('cities_dates.csv')

from ctypes import *

weather_api = cdll.LoadLibrary("./weatherapi.so")

weather_api.GetCityTemps(
    "aa0138a79c634c7898424248191605".encode('utf-8'),
    "cities_dates.csv".encode('utf-8')
)

In [39]:
weather = pd.read_csv("./cities_dates.csv", index_col=0)

In [40]:
## Clean weather data
# drop nan values (fixtures before 1st July 2008 will not have weather data)
# merge into PremierLeague DataFrame
# convert Date_Time into python datetime

Prems = PremierLeague.merge(weather, on=['City', 'Date_Time'], how='outer').dropna().reset_index().copy()
Prems['Date_Time'] = pd.to_datetime(Prems['Date_Time']) 
Prems

,level_0,Match_ID,HomeTeam,AwayTeam,FTHG,FTAG,Season,Date_Time,Referee,Att,index,Date,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,City,MintempC,MaxtempC,TempC,WindspeedKmph,WeatherDesc,WinddirDegree,Winddir16Point,PrecipMM,Humidity,Visibility,Pressure,Cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,UvIndex
0,430,517,Arsenal,West Bromwich Albion,1,0,08-09,2008-08-16 12:45:00,Howard Webb,60071,2660,16/08/08,H,1,0,H,24,5,14,4,11,8,7,5,0,0,0,0,London,0.0,0.0,20.0,20.0,Partly cloudy,170.0,S,0.0,56.0,10.0,1009.0,48.0,20.0,11.0,20.0,23.0,20.0,5.0
1,431,518,Bolton Wanderers,Stoke City,3,1,08-09,2008-08-16 15:00:00,Chris Foy,22717,2661,16/08/08,H,3,0,H,14,8,8,2,13,12,4,3,1,2,0,0,Bolton,0.0,0.0,20.0,24.0,Partly cloudy,139.0,SE,0.0,51.0,10.0,1005.0,43.0,20.0,10.0,20.0,30.0,20.0,6.0
2,432,519,Everton,Blackburn Rovers,2,3,08-09,2008-08-16 15:00:00,Andre Marriner,38675,2662,16/08/08,A,1,1,D,10,15,5,11,11,9,3,5,2,2,0,0,Liverpool,0.0,0.0,18.0,28.0,Partly cloudy,155.0,SSE,0.1,62.0,10.0,1002.0,41.0,18.0,11.0,18.0,40.0,18.0,5.0
3,433,520,Hull City,Fulham,2,1,08-09,2008-08-16 15:00:00,Peter Walton,24525,2663,16/08/08,H,1,1,D,11,12,6,6,10,9,5,6,3,0,0,0,Hull,0.0,0.0,21.0,6.0,Sunny,355.0,N,0.0,40.0,10.0,1012.0,10.0,24.0,8.0,22.0,7.0,22.0,6.0
4,434,521,Middlesbrough,Tottenham Hotspur,2,1,08-09,2008-08-16 15:00:00,Martin Atkinson,32623,2664,16/08/08,H,0,0,D,14,8,10,5,11,12,7,9,1,2,0,0,Middlesbrough,0.0,0.0,19.0,24.0,Cloudy,132.0,SE,0.0,60.0,10.0,1005.0,63.0,19.0,11.0,19.0,32.0,19.0,4.0
5,435,522,West Ham United,Wigan Athletic,2,1,08-09,2008-08-16 15:00:00,Steve Bennett,32758,2666,16/08/08,H,2,0,H,15,22,8,9,14,11,6,10,2,1,0,0,London,0.0,0.0,19.0,24.0,Partly cloudy,179.0,S,0.0,49.0,10.0,1008.0,46.0,19.0,8.0,19.0,30.0,19.0,5.0
6,436,523,Sunderland,Liverpool,0,1,08-09,2008-08-16 17:30:00,Alan Wiley,43259,2665,16/08/08,A,0,0,D,6,14,3,8,13,12,1,8,0,2,0,0,Sunderland,0.0,0.0,15.0,19.0,Cloudy,119.0,ESE,0.0,83.0,10.0,1002.0,64.0,15.0,12.0,13.0,35.0,13.0,3.0
7,437,524,Chelsea,Portsmouth,4,0,08-09,2008-08-17 13:30:00,Mike Dean,41468,2668,17/08/08,H,3,0,H,18,12,11,8,10,6,8,3,0,1,0,0,London,0.0,0.0,19.0,17.0,Partly cloudy,227.0,SW,0.0,54.0,10.0,1006.0,27.0,20.0,10.0,20.0,19.0,20.0,5.0
8,438,525,Aston Villa,Manchester City,4,2,08-09,2008-08-17 15:00:00,Phil Dowd,39955,2667,17/08/08,H,0,0,D,14,13,10,8,8,11,7,8,0,1,0,0,Birmingham,0.0,0.0,16.0,15.0,Light rain shower,226.0,SW,0.2,72.0,10.0,1004.0,66.0,16.0,11.0,16.0,22.0,16.0,4.0
9,439,526,Manchester United,Newcastle United,1,1,08-09,2008-08-17 16:00:00,Mike Riley,75512,2669,17/08/08,D,1,1,D,18,11,12,4,15,11,6,6,3,0,0,0,Trafford,0.0,0.0,15.0,10.0,Patchy light drizzle,211.0,SSW,0.2,84.0,5.0,1003.0,69.0,15.0,13.0,15.0,14.0,15.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4188,4618,4200,Tottenham Hotspur,Leicester City,5,4,17-18,2018-05-13 15:00:00,Craig Pawson,77841,6459,13/05/18,H,1,2,A,14,16,6,9,9,13,4,4,1,2,0,0,London,17.0,17.0,16.0,9.0,Cloudy,330.0,NNW,0.1,48.0,10.0,1016.0,75.0,17.0,6.0,17.0,10.0,17.0,4.0
4189,4619,4201,West Ham United,Everton,3,1,17-18,2018-05-13 15:00:00,Graham Scott,56926,6460,13/05/18,H,1,0,H,15,14,4,7,10,13,6,6,0,1,0,0,London,17.0,17.0,16.0,9.0,Cloudy,330.0,NNW,0.1,48.0,10.0,1016.0,75.0,17.0,6.0,17.0,10.0,17.0,4.0
4190,4620,4201,West Ham United,Everton,3,1,17-18,2018-05-13 15:00:00,Graham Scott,56926,6460,13/05/18,H,1,0,H,15,14,4,7,10,13,6,6,0,1,0,0,London,17.0,17.0,16.0,9.0,Cloudy,330.0,NNW,0.1,48.0,10.0,1016.0,75.0,17.0,6.0,17.0,10.0,17.0,4.0
4191,4621,4201,West Ham United,Everton,3,1,17-18,2018-05-13 15:00:00,Graham Scott,56926,6460,13/05/18,H,1,0,H,15,14,4,7,10,13,6,6,0,1,0,0,London,17.0,17.0,16.0,9.0,Cloudy,330.0,NNW,0.1,48.0,10.0,1016.0,75.0,17.0,6.0,17.0,10.0,17.0,4.0
4192,4622,4194,Huddersfield Town,Arsenal,0,1,17-18,2018-05-13 15:00:00,Michael Oliver,24122,6453,13/05/18,A,0,1,A,18,9,3,4,11,7,7,4,1,0,0,0,Huddersfield,15.0,15.0,15.0,16.0,Sunny,286.0,WNW,0.0,52.0,10.0,1015.0,2.0,16.0,6.0,16.0,19.0,16.0,4.0
4193,4623,4195,Liverpool,Brighton & Hove Albion,4,0,17-18,2018-05-13 15:00:00,Kevin Friend,50752,6454,13/05/18,H,2,0,H,22,2,11,1,3,6,7,3,0,0,0,0,Liverpool,14.0,14.0,14.0,10.0,Sunny,324.0,NW,0.0,54.0,10.0,1016.0,0.0,16.0,7.0,16.0,12.0,16.0,4.0
4194,4624,4196,Manchester United,Watford,1,0,17-18,2018-05-13 15:00:00,Lee Mason,75049,6455,13/05/18,H,1,0,H,7,7,1,3,6,11,6,5,4,0,0,0,Trafford,14.0,14.0,14.0,8.0,Sunny,324.0,NW,0.0,57.0,10.0,1016.0,4.0,16.0,7.0,16.0,10.0,16.0,4.0
4195,4625,4197,Newcastle United,Chelsea,3,0,17-18,2018-05-13 15:00:00,Martin Atkinson,52294,6456,13/05/18,H,1,0,H,16,6,6,2,11,10,4,2,0,1,0,0,Newcastle upon Tyne,15.0,15.0,15.0,8.0,Partly cloudy,288.0,WNW,0.0,58.0,10.0,1015.0,39.0,16.0,8.0,16.0,9.0,16.0,5.0
4196,4626,4198,Southampton,Manchester City,0,1,17-18,2018-05-13 15:00:00,Andre Marriner,31882,6457,13/05/18,A,0,0,D,8,13,3,2,8,10,1,12,3,1,0,0,Southampton,15.0,15.0,15.0,9.0,Light rain shower,259.0,WSW,0.2,62.0,10.0,1017.0,59.0,15.0,8.0,15.0,11.0,15.0,4.0
4197,4627,4199,Swansea City,Stoke City,1,2,17-18,2018-05-13 15:00:00,Anthony Taylor,20673,6458,13/05/18,A,1,2,A,26,8,11,5,12,9,6,0,1,2,0,0,Swansea,12.0,12.0,12.0,21.0,Sunny,260.0,W,0.0,69.0,10.0,1017.0,0.0,12.0,7.0,10.0,28.0,10.0,4.0

<a id="Data_Sources"></a>
## Data Sources 
Fixtures with date and time: https://www.kaggle.com/acmfootball/premier-league-football-data-200708201718
Results with extra stats https://www.kaggle.com/thefc17/epl-results-19932018
Tables: https://www.kaggle.com/limmen/premierleague-league-tables-188889-201617

Weather API: https://www.worldweatheronline.com

<a id="References"></a>
## References

1. https://www.goal.com/en-us/news/85/england/2010/12/21/2271248/top-epl-journalist-andy-gray-lionel-messi-is-not-good-enough-for-
2. https://www.telegraph.co.uk/sport/11611106/The-10-most-enduring-football-debates.html?frame=3307440
3. https://www.sportskeeda.com/football/review-cold-night-in-stoke

[Return to top](#Home)

In [42]:
StokeTable.shape

(36, 12)

In [43]:
StokeTable

,year,title,Team,A,D,F,GD,L,P,Pos,Pts,W
12,2016/2017,Premier League 2016-2017,Stoke City,56,11,41,-15,16,38,13,44,11
28,2014/2015,Barclaycard Premier League 2014-2015,Stoke City,45,9,48,3,14,38,9,54,15
48,2013/2014,Barclaycard Premier League 2013-2014,Stoke City,52,11,45,-7,14,38,9,50,13
72,2012/2013,Barclaycard Premier League 2012-2013,Stoke City,45,15,34,-11,14,38,13,42,9
93,2011/2012,Barclaycard Premier League 2011-2012,Stoke City,53,12,36,-17,15,38,14,45,11
112,2010/2011,Barclaycard Premier League 2010-2011,Stoke City,48,7,46,-2,18,38,13,46,13
130,2009/2010,Barclaycard Premier League 2009-2010,Stoke City,48,14,34,-14,13,38,11,47,11
151,2008/2009,Barclaycard Premier League 2008-2009,Stoke City,55,9,38,-17,17,38,12,45,12
654,1984/1985,First Division 1984-85,Stoke City,91,8,24,-67,31,42,22,17,3
672,1983/1984,First Division 1983-84,Stoke City,63,11,44,-19,18,42,18,50,13
...,...,...,...,...,...,...,...,...,...,...,...,...
1135,1949/1950,First Division 1949-50,Stoke City,75,12,45,-30,19,42,19,34,11
1149,1948/1949,First Division 1948-49,Stoke City,68,9,66,-2,17,42,11,41,16
1175,1947/1948,First Division 1947-48,Stoke City,55,10,41,-14,18,42,15,38,14
1186,1946/1947,First Division 1946-47,Stoke City,53,7,90,37,11,42,4,55,24
1211,1938/1939,First Division 1938-39,Stoke City,68,12,71,3,13,42,7,46,17
1243,1937/1938,First Division 1937-38,Stoke City,59,12,58,-1,17,42,17,38,13
1258,1936/1937,First Division 1936-37,Stoke City,57,12,72,15,15,42,10,42,15
1305,1891/1892,First Division 1891-92,Stoke City,61,4,38,-23,17,26,13,14,5
1330,1889/1890,First Division 1889-90,Stoke City,69,4,27,-42,15,22,12,10,3
1342,1888/1889,First Division 1888-89,Stoke City,51,4,26,-25,14,22,12,12,4

In [44]:
import requests
website_url=requests.get('https://www.worldfootball.net/schedule/eng-premier-league-2006-2007-spieltag/1/').text
from bs4 import BeautifulSoup
page = BeautifulSoup(website_url, "lxml")

In [45]:
page.tr

<tr>
<td width="10%"><a href="/schedule/eng-premier-league-2005-2006-spieltag/38/"><img align="absmiddle" border="0" height="18" hspace="5" src="https://s.hs-data.com/bilder/shared/ng/arrow_left_small.png" title="2005/2006" width="18"/></a></td>
<td align="center" width="30%">
<form>
<select name="saison" onchange="window.location.href=saison.options[saison.options.selectedIndex].value">
<option value="/schedule/eng-premier-league-2019-2020-spieltag//">2019/2020</option>
<option value="/schedule/eng-premier-league-2018-2019-spieltag/38/">2018/2019</option>
<option value="/schedule/eng-premier-league-2017-2018-spieltag/38/">2017/2018</option>
<option value="/schedule/eng-premier-league-2016-2017-spieltag/38/">2016/2017</option>
<option value="/schedule/eng-premier-league-2015-2016-spieltag/38/">2015/2016</option>
<option value="/schedule/eng-premier-league-2014-2015-spieltag/38/">2014/2015</option>
<option value="/schedule/eng-premier-league-2013-2014-spieltag/38/">2013/2014</option>
<option value="/schedule/eng-premier-league-2012-2013-spieltag/38/">2012/2013</option>
<option value="/schedule/eng-premier-league-2011-2012-spieltag/38/">2011/2012</option>
<option value="/schedule/eng-premier-league-2010-2011-spieltag/38/">2010/2011</option>
<option value="/schedule/eng-premier-league-2009-2010-spieltag/38/">2009/2010</option>
<option value="/schedule/eng-premier-league-2008-2009-spieltag/38/">2008/2009</option>
<option value="/schedule/eng-premier-league-2007-2008-spieltag/38/">2007/2008</option>
<option class="wahl" selected="" value="/schedule/eng-premier-league-2006-2007-spieltag/38/">2006/2007</option>
<option value="/schedule/eng-premier-league-2005-2006-spieltag/38/">2005/2006</option>
<option value="/schedule/eng-premier-league-2004-2005-spieltag/38/">2004/2005</option>
<option value="/schedule/eng-premier-league-2003-2004-spieltag/38/">2003/2004</option>
<option value="/schedule/eng-premier-league-2002-2003-spieltag/38/">2002/2003</option>
<option value="/schedule/eng-premier-league-2001-2002-spieltag/38/">2001/2002</option>
<option value="/schedule/eng-premier-league-2000-2001-spieltag/38/">2000/2001</option>
<option value="/schedule/eng-premier-league-1999-2000-spieltag/38/">1999/2000</option>
<option value="/schedule/eng-premier-league-1998-1999-spieltag/38/">1998/1999</option>
<option value="/schedule/eng-premier-league-1997-1998-spieltag/38/">1997/1998</option>
<option value="/schedule/eng-premier-league-1996-1997-spieltag/38/">1996/1997</option>
<option value="/schedule/eng-premier-league-1995-1996-spieltag/38/">1995/1996</option>
<option value="/schedule/eng-premier-league-1994-1995-spieltag/42/">1994/1995</option>
<option value="/schedule/eng-premier-league-1993-1994-spieltag/42/">1993/1994</option>
<option value="/schedule/eng-premier-league-1992-1993-spieltag/42/">1992/1993</option>
<option value="/schedule/eng-premier-league-1991-1992-spieltag/42/">1991/1992</option>
<option value="/schedule/eng-premier-league-1990-1991-spieltag/38/">1990/1991</option>
<option value="/schedule/eng-premier-league-1989-1990-spieltag/38/">1989/1990</option>
<option value="/schedule/eng-premier-league-1988-1989-spieltag/38/">1988/1989</option>
<option value="/schedule/eng-premier-league-1987-1988-spieltag/42/">1987/1988</option>
<option value="/schedule/eng-premier-league-1986-1987-spieltag/42/">1986/1987</option>
<option value="/schedule/eng-premier-league-1985-1986-spieltag/42/">1985/1986</option>
<option value="/schedule/eng-premier-league-1984-1985-spieltag/42/">1984/1985</option>
<option value="/schedule/eng-premier-league-1983-1984-spieltag/42/">1983/1984</option>
<option value="/schedule/eng-premier-league-1982-1983-spieltag/42/">1982/1983</option>
<option value="/schedule/eng-premier-league-1981-1982-spieltag/42/">1981/1982</option>
<option value="/schedule/eng-premier-league-1980-1981-spieltag/42/">1980/1981</option>
<option value="/schedule/eng-premier-league-1979-1980-spieltag/42/">1979/1980</option>
<option value="/schedule/eng-premier-league-1978-1979-spieltag/42/">1978/1979</option>
<option value="/schedule/eng-premier-league-1977-1978-spieltag/42/">1977/1978</option>
<option value="/schedule/eng-premier-league-1976-1977-spieltag/42/">1976/1977</option>
<option value="/schedule/eng-premier-league-1975-1976-spieltag/42/">1975/1976</option>
<option value="/schedule/eng-premier-league-1974-1975-spieltag/42/">1974/1975</option>
<option value="/schedule/eng-premier-league-1973-1974-spieltag/42/">1973/1974</option>
<option value="/schedule/eng-premier-league-1972-1973-spieltag/42/">1972/1973</option>
<option value="/schedule/eng-premier-league-1971-1972-spieltag/42/">1971/1972</option>
<option value="/schedule/eng-premier-league-1970-1971-spieltag/42/">1970/1971</option>
<option value="/schedule/eng-premier-league-1969-1970-spieltag/42/">1969/1970</option>
<option value="/schedule/eng-premier-league-1968-1969-spieltag/42/">1968/1969</option>
<option value="/schedule/eng-premier-league-1967-1968-spieltag/42/">1967/1968</option>
<option value="/schedule/eng-premier-league-1966-1967-spieltag/42/">1966/1967</option>
<option value="/schedule/eng-premier-league-1965-1966-spieltag/42/">1965/1966</option>
<option value="/schedule/eng-premier-league-1964-1965-spieltag/42/">1964/1965</option>
<option value="/schedule/eng-premier-league-1963-1964-spieltag/42/">1963/1964</option>
<option value="/schedule/eng-premier-league-1962-1963-spieltag/42/">1962/1963</option>
<option value="/schedule/eng-premier-league-1961-1962-spieltag/42/">1961/1962</option>
<option value="/schedule/eng-premier-league-1960-1961-spieltag/42/">1960/1961</option>
<option value="/schedule/eng-premier-league-1959-1960-spieltag/42/">1959/1960</option>
<option value="/schedule/eng-premier-league-1958-1959-spieltag/42/">1958/1959</option>
<option value="/schedule/eng-premier-league-1957-1958-spieltag/42/">1957/1958</option>
<option value="/schedule/eng-premier-league-1956-1957-spieltag/42/">1956/1957</option>
<option value="/schedule/eng-premier-league-1955-1956-spieltag/42/">1955/1956</option>
<option value="/schedule/eng-premier-league-1954-1955-spieltag/42/">1954/1955</option>
<option value="/schedule/eng-premier-league-1953-1954-spieltag/42/">1953/1954</option>
<option value="/schedule/eng-premier-league-1952-1953-spieltag/42/">1952/1953</option>
<option value="/schedule/eng-premier-league-1951-1952-spieltag/42/">1951/1952</option>
<option value="/schedule/eng-premier-league-1950-1951-spieltag/42/">1950/1951</option>
<option value="/schedule/eng-premier-league-1949-1950-spieltag/42/">1949/1950</option>
<option value="/schedule/eng-premier-league-1948-1949-spieltag/42/">1948/1949</option>
<option value="/schedule/eng-premier-league-1947-1948-spieltag/42/">1947/1948</option>
<option value="/schedule/eng-premier-league-1946-1947-spieltag/42/">1946/1947</option>
<option value="/schedule/eng-premier-league-1938-1939-spieltag/42/">1938/1939</option>
<option value="/schedule/eng-premier-league-1937-1938-spieltag/42/">1937/1938</option>
<option value="/schedule/eng-premier-league-1936-1937-spieltag/42/">1936/1937</option>
<option value="/schedule/eng-premier-league-1935-1936-spieltag/42/">1935/1936</option>
<option value="/schedule/eng-premier-league-1934-1935-spieltag/42/">1934/1935</option>
<option value="/schedule/eng-premier-league-1933-1934-spieltag/42/">1933/1934</option>
<option value="/schedule/eng-premier-league-1932-1933-spieltag/42/">1932/1933</option>
<option value="/schedule/eng-premier-league-1931-1932-spieltag/42/">1931/1932</option>
<option value="/schedule/eng-premier-league-1930-1931-spieltag/42/">1930/1931</option>
<option value="/schedule/eng-premier-league-1929-1930-spieltag/42/">1929/1930</option>
<option value="/schedule/eng-premier-league-1928-1929-spieltag/42/">1928/1929</option>
<option value="/schedule/eng-premier-league-1927-1928-spieltag/42/">1927/1928</option>
<option value="/schedule/eng-premier-league-1926-1927-spieltag/42/">1926/1927</option>
<option value="/schedule/eng-premier-league-1925-1926-spieltag/42/">1925/1926</option>
<option value="/schedule/eng-premier-league-1924-1925-spieltag/42/">1924/1925</option>
<option value="/schedule/eng-premier-league-1923-1924-spieltag/42/">1923/1924</option>
<option value="/schedule/eng-premier-league-1922-1923-spieltag/42/">1922/1923</option>
<option value="/schedule/eng-premier-league-1921-1922-spieltag/42/">1921/1922</option>
<option value="/schedule/eng-premier-league-1920-1921-spieltag/42/">1920/1921</option>
<option value="/schedule/eng-premier-league-1919-1920-spieltag/42/">1919/1920</option>
<option value="/schedule/eng-premier-league-1914-1915-spieltag/38/">1914/1915</option>
<option value="/schedule/eng-premier-league-1913-1914-spieltag/38/">1913/1914</option>
<option value="/schedule/eng-premier-league-1912-1913-spieltag/38/">1912/1913</option>
<option value="/schedule/eng-premier-league-1911-1912-spieltag/38/">1911/1912</option>
<option value="/schedule/eng-premier-league-1910-1911-spieltag/38/">1910/1911</option>
<option value="/schedule/eng-premier-league-1909-1910-spieltag/38/">1909/1910</option>
<option value="/schedule/eng-premier-league-1908-1909-spieltag/38/">1908/1909</option>
<option value="/schedule/eng-premier-league-1907-1908-spieltag/38/">1907/1908</option>
<option value="/schedule/eng-premier-league-1906-1907-spieltag/38/">1906/1907</option>
<option value="/schedule/eng-premier-league-1905-1906-spieltag/38/">1905/1906</option>
<option value="/schedule/eng-premier-league-1904-1905-spieltag/34/">1904/1905</option>
<option value="/schedule/eng-premier-league-1903-1904-spieltag/34/">1903/1904</option>
<option value="/schedule/eng-premier-league-1902-1903-spieltag/34/">1902/1903</option>
<option value="/schedule/eng-premier-league-1901-1902-spieltag/34/">1901/1902</option>
<option value="/schedule/eng-premier-league-1900-1901-spieltag/34/">1900/1901</option>
<option value="/schedule/eng-premier-league-1899-1900-spieltag/34/">1899/1900</option>
<option value="/schedule/eng-premier-league-1898-1899-spieltag/34/">1898/1899</option>
<option value="/schedule/eng-premier-league-1897-1898-spieltag/30/">1897/1898</option>
<option value="/schedule/eng-premier-league-1896-1897-spieltag/30/">1896/1897</option>
<option value="/schedule/eng-premier-league-1895-1896-spieltag/30/">1895/1896</option>
<option value="/schedule/eng-premier-league-1894-1895-spieltag/30/">1894/1895</option>
<option value="/schedule/eng-premier-league-1893-1894-spieltag/30/">1893/1894</option>
<option value="/schedule/eng-premier-league-1892-1893-spieltag/30/">1892/1893</option>
<option value="/schedule/eng-premier-league-1891-1892-spieltag/26/">1891/1892</option>
<option value="/schedule/eng-premier-league-1890-1891-spieltag/22/">1890/1891</option>
<option value="/schedule/eng-premier-league-1889-1890-spieltag/22/">1889/1890</option>
<option value="/schedule/eng-premier-league-1888-1889-spieltag/22/">1888/1889</option>
</select>
</form>
</td>
<td align="right" width="10%"><a href="/schedule/eng-premier-league-2007-2008-spieltag/38/"><img align="absmiddle" border="0" height="18" hspace="5" src="https://s.hs-data.com/bilder/shared/ng/arrow_right_small.png" title="2007/2008" width="18"/></a></td>
<td class="luecke" width="10%">Â </td>
<td width="10%"></td>
<td align="center" width="30%">
<form>
<select name="runde" onchange="window.location.href=runde.options[runde.options.selectedIndex].value">
<option class="wahl" selected="" value="/schedule/eng-premier-league-2006-2007-spieltag/1/">1. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/2/">2. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/3/">3. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/4/">4. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/5/">5. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/6/">6. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/7/">7. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/8/">8. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/9/">9. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/10/">10. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/11/">11. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/12/">12. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/13/">13. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/14/">14. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/15/">15. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/16/">16. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/17/">17. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/18/">18. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/19/">19. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/20/">20. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/21/">21. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/22/">22. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/23/">23. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/24/">24. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/25/">25. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/26/">26. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/27/">27. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/28/">28. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/29/">29. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/30/">30. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/31/">31. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/32/">32. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/33/">33. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/34/">34. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/35/">35. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/36/">36. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/37/">37. Round</option>
<option value="/schedule/eng-premier-league-2006-2007-spieltag/38/">38. Round</option>
</select>
</form>
</td>
<td align="right" width="10%"><a href="/schedule/eng-premier-league-2006-2007-spieltag/2/"><img align="absmiddle" border="0" height="18" hspace="5" src="https://s.hs-data.com/bilder/shared/ng/arrow_right_small.png" title="2. Round" width="18"/></a></td>
</tr>

In [46]:
name_rows=page.find_all('a')
column_names=page.find_all('div',{'class':'thFull'})
table=page.find_all('div',{'class':'tableContainer'})
#element
table=page.find_all('table',{'class':'standard-tabelle'})
table

[]

In [47]:
team_rows=page.find_all('td')
len(column_names)

0

In [48]:
columns=[]

for i in range(0,len(column_names)):
    columns.append(column_names[i].text)
columns=columns[0:11] 
columns

[]

In [49]:
team_data=[]
for i in range(0,len(team_rows)):
   
    team_data.append(team_rows[i].text)
len(team_data)/20

14.75

In [50]:
name_rows[0].contents
names=[]
for i in range(1,len(name_rows)):
    names.append(column_names[i].text)

IndexError: list index out of range

In [ ]:
name_rows=page.find_all('span',{'class':'name'})
name_rows

In [ ]:
names=[]

for i in range(0,len(name_rows)):
    names.append(name_rows[i].text)

In [ ]:
page.find('table','tr')

In [ ]:

page.find_all('td',{'class':'team'})

In [ ]:
page.find_all('tr',{'class':'tableDark','data-filtered-table-row-opta':'t43'})