
|Authors Name|ID      |
|------------|------- |
|Ben Allen   |18044679|
|Johney Jijin|18032679|
|Jamie Scott |18041508|

###### Imports and defaults

In [1]:
from IPython.core.display import display, HTML, Markdown as md
display(HTML("""<style>.container { width:100% !important; } p, ul {max-width: 40em;} .rendered_html table { margin-left: 0; } .output_subarea.output_png { display: flex; justify-content: center;}</style>"""))

import matplotlib.pyplot as plt
from pylab import rcParams
import pandas as pd
import seaborn as sns
import numpy as np

rcParams['figure.dpi'] = 350
rcParams['axes.labelsize'] = 'large'
rcParams['xtick.labelsize'] = 20
rcParams['ytick.labelsize'] = 20
rcParams['lines.linewidth'] = 2
rcParams['font.size'] = 18

%matplotlib inline
sns.set_style('darkgrid')
pd.set_option('max_columns', 100)
pd.set_option('max_rows', 20)

<center style="background: #f8f8f8;padding: 1rem;padding-bottom: 2.5rem;border-radius: 8px;">

# A cold wet night in Stoke: The myth/legend of the unglamorous away fixture.

</center>

A cold wet night in stoke is...

- Import datasets
- Clean datasets
- whatever else

### References
Fixtures with date and time: https://www.kaggle.com/acmfootball/premier-league-football-data-200708201718

Tables: https://www.kaggle.com/limmen/premierleague-league-tables-188889-201617

Results with extra stats https://www.kaggle.com/thefc17/epl-results-19932018

## Importing datasets - (heading just for internal use at this stage)

In [2]:
#import smaller dataset from 07/08 - 17/18 that contains time info
DatasetOne = pd.read_csv("../Assignment4/epl_data.csv")
DatasetOne.head()

,Match_ID,Team_Home,Team_Away,HG,AG,X/U,Season,Date_Time,Referee_Name,Att,BBC_Football_URL,Sky_Sports_URL
0,12,Sunderland,Tottenham Hotspur,1,0,X,2007/2008,11/08/2007 12:45,Alan Wiley,43967,http://news.bbc.co.uk/sport1/hi/football/eng_p...,http://www.skysports.com/football/sland-vs-tot...
1,13,Bolton Wanderers,Newcastle United,1,3,X,2007/2008,11/08/2007 15:00,Chris Foy,25414,http://news.bbc.co.uk/sport1/hi/football/eng_p...,http://www.skysports.com/football/bolton-vs-ne...
2,14,Derby County,Portsmouth,2,2,X,2007/2008,11/08/2007 15:00,Mike Dean,32176,http://news.bbc.co.uk/sport1/hi/football/eng_p...,http://www.skysports.com/football/derby-vs-por...
3,15,Everton,Wigan Athletic,2,1,X,2007/2008,11/08/2007 15:00,Mark Clattenburg,39220,http://news.bbc.co.uk/sport1/hi/football/eng_p...,http://www.skysports.com/football/everton-vs-w...
4,16,Middlesbrough,Blackburn Rovers,1,2,X,2007/2008,11/08/2007 15:00,Andre Marriner,25058,http://news.bbc.co.uk/sport1/hi/football/eng_p...,http://www.skysports.com/football/mboro-vs-bla...

In [3]:
#import bigger dataset that has extra info but not time data
DatasetTwo = pd.read_csv("../Assignment4/EPL 2000-2018.csv")
DatasetTwo.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
0,19/08/00,Charlton,Man City,4.0,0.0,H,2.0,0.0,H,Rob Harris,17.0,8.0,14.0,4.0,13.0,12.0,6.0,6.0,1.0,2.0,0.0,0.0,00-01
1,19/08/00,Chelsea,West Ham,4.0,2.0,H,1.0,0.0,H,Graham Barber,17.0,12.0,10.0,5.0,19.0,14.0,7.0,7.0,1.0,2.0,0.0,0.0,00-01
2,19/08/00,Coventry,Middlesbrough,1.0,3.0,A,1.0,1.0,D,Barry Knight,6.0,16.0,3.0,9.0,15.0,21.0,8.0,4.0,5.0,3.0,1.0,0.0,00-01
3,19/08/00,Derby,Southampton,2.0,2.0,D,1.0,2.0,A,Andy D'Urso,6.0,13.0,4.0,6.0,11.0,13.0,5.0,8.0,1.0,1.0,0.0,0.0,00-01
4,19/08/00,Leeds,Everton,2.0,0.0,H,2.0,0.0,H,Dermot Gallagher,17.0,12.0,8.0,6.0,21.0,20.0,6.0,4.0,1.0,3.0,0.0,0.0,00-01

In [4]:
DatasetOne.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4180 entries, 0 to 4179
Data columns (total 12 columns):
Match_ID            4180 non-null int64
Team_Home           4180 non-null object
Team_Away           4180 non-null object
HG                  4180 non-null int64
AG                  4180 non-null int64
X/U                 4180 non-null object
Season              4180 non-null object
Date_Time           4180 non-null object
Referee_Name        4180 non-null object
Att                 4180 non-null int64
BBC_Football_URL    4180 non-null object
Sky_Sports_URL      4180 non-null object
dtypes: int64(4), object(8)
memory usage: 392.0+ KB

In [5]:
DatasetTwo.info()
#note extra non-null entry for season and floats instead of ints

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6461 entries, 0 to 6460
Data columns (total 23 columns):
Date        6460 non-null object
HomeTeam    6460 non-null object
AwayTeam    6460 non-null object
FTHG        6460 non-null float64
FTAG        6460 non-null float64
FTR         6460 non-null object
HTHG        6460 non-null float64
HTAG        6460 non-null float64
HTR         6460 non-null object
Referee     6460 non-null object
HS          6460 non-null float64
AS          6460 non-null float64
HST         6460 non-null float64
AST         6460 non-null float64
HF          6460 non-null float64
AF          6460 non-null float64
HC          6460 non-null float64
AC          6460 non-null float64
HY          6460 non-null float64
AY          6460 non-null float64
HR          6460 non-null float64
AR          6460 non-null float64
Season      6461 non-null object
dtypes: float64(16), object(7)
memory usage: 1.1+ MB

## Clean datasets

In [6]:
#There's an extra non-null entry in the Season column - check if it's a rogue entry
DatasetTwo.Season.unique()

array(['00-01', '02-03', '03-04', '04-05', '05-06', '06-07', '07-08',
       '08-09', '09-10', '10-11', '11-12', '12-13', '13-14', '14-15',
       '15-16', '16-17', '17-18'], dtype=object)

In [7]:
# DatasetTwo.isnull().sum()

In [8]:
#find row with extra entry 
DatasetTwo[DatasetTwo.HomeTeam.isnull()]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
5320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14-15

In [9]:
#make sure there's 380 fixtures for the 14-15 season. There's 381, we can delete.
DatasetTwo[DatasetTwo.Season == '14-15']

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
4940,16/08/14,Arsenal,Crystal Palace,2.0,1.0,H,1.0,1.0,D,J Moss,14.0,4.0,6.0,2.0,13.0,19.0,9.0,3.0,2.0,2.0,0.0,1.0,14-15
4941,16/08/14,Leicester,Everton,2.0,2.0,D,1.0,2.0,A,M Jones,11.0,13.0,3.0,3.0,16.0,10.0,3.0,6.0,1.0,1.0,0.0,0.0,14-15
4942,16/08/14,Man United,Swansea,1.0,2.0,A,0.0,1.0,A,M Dean,14.0,5.0,5.0,4.0,14.0,20.0,4.0,0.0,2.0,4.0,0.0,0.0,14-15
4943,16/08/14,QPR,Hull,0.0,1.0,A,0.0,0.0,D,C Pawson,19.0,11.0,6.0,4.0,10.0,10.0,8.0,9.0,1.0,2.0,0.0,0.0,14-15
4944,16/08/14,Stoke,Aston Villa,0.0,1.0,A,0.0,0.0,D,A Taylor,12.0,7.0,2.0,2.0,14.0,9.0,2.0,8.0,0.0,3.0,0.0,0.0,14-15
4945,16/08/14,West Brom,Sunderland,2.0,2.0,D,1.0,1.0,D,N Swarbrick,10.0,7.0,5.0,2.0,18.0,9.0,6.0,3.0,3.0,1.0,0.0,0.0,14-15
4946,16/08/14,West Ham,Tottenham,0.0,1.0,A,0.0,0.0,D,C Foy,18.0,10.0,4.0,4.0,12.0,10.0,8.0,5.0,1.0,0.0,1.0,1.0,14-15
4947,17/08/14,Liverpool,Southampton,2.0,1.0,H,1.0,0.0,H,M Clattenburg,12.0,12.0,5.0,6.0,8.0,11.0,2.0,6.0,1.0,2.0,0.0,0.0,14-15
4948,17/08/14,Newcastle,Man City,0.0,2.0,A,0.0,1.0,A,M Atkinson,12.0,13.0,0.0,5.0,8.0,11.0,3.0,3.0,1.0,5.0,0.0,0.0,14-15
4949,18/08/14,Burnley,Chelsea,1.0,3.0,A,1.0,3.0,A,M Oliver,9.0,11.0,2.0,3.0,6.0,7.0,4.0,3.0,1.0,1.0,0.0,0.0,14-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5311,24/05/15,Aston Villa,Burnley,0.0,1.0,A,0.0,1.0,A,M Jones,16.0,6.0,5.0,3.0,9.0,6.0,7.0,2.0,1.0,2.0,0.0,0.0,14-15
5312,24/05/15,Chelsea,Sunderland,3.0,1.0,H,1.0,1.0,D,L Mason,24.0,17.0,8.0,9.0,12.0,8.0,11.0,3.0,2.0,1.0,0.0,0.0,14-15
5313,24/05/15,Crystal Palace,Swansea,1.0,0.0,H,0.0,0.0,D,C Pawson,13.0,5.0,7.0,2.0,22.0,13.0,7.0,3.0,3.0,0.0,0.0,0.0,14-15
5314,24/05/15,Everton,Tottenham,0.0,1.0,A,0.0,1.0,A,J Moss,9.0,16.0,1.0,3.0,12.0,8.0,3.0,5.0,1.0,2.0,0.0,0.0,14-15
5315,24/05/15,Hull,Man United,0.0,0.0,D,0.0,0.0,D,L Probert,16.0,7.0,6.0,1.0,12.0,15.0,8.0,1.0,2.0,2.0,0.0,1.0,14-15
5316,24/05/15,Leicester,QPR,5.0,1.0,H,2.0,0.0,H,M Oliver,22.0,18.0,7.0,2.0,7.0,6.0,5.0,6.0,0.0,0.0,0.0,0.0,14-15
5317,24/05/15,Man City,Southampton,2.0,0.0,H,1.0,0.0,H,C Foy,15.0,13.0,6.0,4.0,13.0,8.0,8.0,4.0,1.0,1.0,0.0,0.0,14-15
5318,24/05/15,Newcastle,West Ham,2.0,0.0,H,0.0,0.0,D,M Atkinson,17.0,4.0,4.0,1.0,9.0,9.0,2.0,3.0,2.0,1.0,0.0,0.0,14-15
5319,24/05/15,Stoke,Liverpool,6.0,1.0,H,5.0,0.0,H,A Taylor,15.0,13.0,9.0,4.0,13.0,4.0,3.0,9.0,4.0,2.0,0.0,0.0,14-15
5320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14-15

In [10]:
DatasetOne.drop(['X/U', 'BBC_Football_URL', 'Sky_Sports_URL'], axis=1, inplace=True)

SeasonstoDelete = ['00-01', '02-03', '03-04', '04-05', '05-06', '06-07']
RowsToDelete = list(row for row in list(DatasetTwo.index) if DatasetTwo.Season[row] in SeasonstoDelete)
DatasetTwo.drop(RowsToDelete+[5320], inplace=True)
del DatasetTwo['Referee']

In [11]:
DatasetOne.Season.unique()

array(['2007/2008', '2008/2009', '2009/2010', '2010/2011', '2011/2012',
       '2012/2013', '2013/2014', '2014/2015', '2015/2016', '2016/2017',
       '2017/2018'], dtype=object)

In [12]:
#renaming in DatasetOne for consistency with datasetTwo to help with merging
DatasetOne.columns = ['Match_ID', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'Season', 'Date_Time',
       'Referee', 'Att']

In [13]:
# dict to align season values between datasets
SeasonDict = {'2007/2008':'07-08', '2008/2009':'08-09', '2009/2010':'09-10', '2010/2011':'10-11', '2011/2012':'11-12', 
              '2012/2013':'12-13', '2013/2014':'13-14', '2014/2015':'14-15', '2015/2016':'15-16', '2016/2017':'16-17',
              '2017/2018':'17-18'}

#create a dict to align team names in HomeTeam and AwayTeam columns
differentnamesOne = [country for country in list(DatasetOne.HomeTeam.unique()) if country not in list(DatasetTwo.HomeTeam.unique())]
differentnamesTwo = [country for country in list(DatasetTwo.HomeTeam.unique()) if country not in list(DatasetOne.HomeTeam.unique())]

renameTeams = {}
for i, name in enumerate(differentnamesOne):
    renameTeams.update({differentnamesOne[i]:differentnamesTwo[i]})

DatasetOne.replace({'Season':SeasonDict, 'HomeTeam':renameTeams, 'AwayTeam':renameTeams}, inplace=True)

In [15]:
# renameTeams

In [16]:
for col in list(DatasetTwo.columns):
    if DatasetTwo[col].dtype == 'float64':
        DatasetTwo[col] = DatasetTwo[col].astype('int64')

In [17]:
DatasetOne.head(20)

,Match_ID,HomeTeam,AwayTeam,FTHG,FTAG,Season,Date_Time,Referee,Att
0,12,Sunderland,Tottenham,1,0,07-08,11/08/2007 12:45,Alan Wiley,43967
1,13,Bolton,Newcastle,1,3,07-08,11/08/2007 15:00,Chris Foy,25414
2,14,Derby,Portsmouth,2,2,07-08,11/08/2007 15:00,Mike Dean,32176
3,15,Everton,Wigan,2,1,07-08,11/08/2007 15:00,Mark Clattenburg,39220
4,16,Middlesbrough,Blackburn,1,2,07-08,11/08/2007 15:00,Andre Marriner,25058
5,17,West Ham,Man City,0,2,07-08,11/08/2007 15:00,Peter Walton,34921
6,18,Aston Villa,Liverpool,1,2,07-08,11/08/2007 17:15,Mike Riley,42640
7,19,Arsenal,Fulham,2,1,07-08,12/08/2007 12:00,Phil Dowd,60093
8,20,Chelsea,Birmingham,3,2,07-08,12/08/2007 13:30,Steve Bennett,41590
9,21,Man United,Reading,0,0,07-08,12/08/2007 16:00,Rob Styles,75655
10,22,Tottenham,Everton,1,3,07-08,14/08/2007 20:00,Mark Halsey,35716
11,23,Birmingham,Sunderland,2,2,07-08,15/08/2007 19:45,Keith Stroud,24898
12,24,Fulham,Bolton,2,1,07-08,15/08/2007 19:45,Lee Probert,21102
13,25,Man City,Derby,1,0,07-08,15/08/2007 19:45,Lee Mason,43620
14,26,Portsmouth,Man United,1,1,07-08,15/08/2007 19:45,Steve Bennett,20510
15,27,Reading,Chelsea,1,2,07-08,15/08/2007 20:00,Mike Dean,24031
16,28,Wigan,Middlesbrough,1,0,07-08,15/08/2007 20:00,Steve Tanner,14007
17,29,Portsmouth,Bolton,3,1,07-08,18/08/2007 12:45,Steve Tanner,17108
18,30,Birmingham,West Ham,0,1,07-08,18/08/2007 15:00,Mark Halsey,24961
19,31,Fulham,Middlesbrough,1,2,07-08,18/08/2007 15:00,Lee Mason,20948

In [159]:
DatasetTwo.head(20)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
2280,11/08/07,Aston Villa,Liverpool,1,2,A,0,1,A,10,17,6,7,18,11,4,2,4,2,0,0,07-08
2281,11/08/07,Bolton,Newcastle,1,3,A,0,3,A,13,7,9,5,15,16,4,3,1,1,0,0,07-08
2282,11/08/07,Derby,Portsmouth,2,2,D,1,1,D,12,12,5,6,14,17,6,6,1,2,0,0,07-08
2283,11/08/07,Everton,Wigan,2,1,H,1,0,H,12,14,8,4,8,13,6,2,0,0,0,0,07-08
2284,11/08/07,Middlesbrough,Blackburn,1,2,A,1,0,H,10,4,6,4,16,16,13,3,3,4,0,0,07-08
2285,11/08/07,Sunderland,Tottenham,1,0,H,0,0,D,9,6,4,3,14,14,7,2,1,1,0,0,07-08
2286,11/08/07,West Ham,Man City,0,2,A,0,1,A,9,14,2,5,13,11,5,3,0,4,0,0,07-08
2287,12/08/07,Arsenal,Fulham,2,1,H,0,1,A,19,12,13,9,6,19,14,4,1,5,0,0,07-08
2288,12/08/07,Chelsea,Birmingham,3,2,H,2,2,D,19,6,11,4,8,8,5,3,2,1,0,0,07-08
2289,12/08/07,Man United,Reading,0,0,D,0,0,D,22,3,9,2,8,16,12,3,0,2,0,1,07-08
2290,14/08/07,Tottenham,Everton,1,3,A,1,3,A,14,16,8,10,16,9,9,4,2,0,0,0,07-08
2291,15/08/07,Birmingham,Sunderland,2,2,D,1,0,H,7,7,3,3,17,10,2,7,1,1,0,0,07-08
2292,15/08/07,Fulham,Bolton,2,1,H,2,1,H,8,14,6,7,19,13,9,8,2,1,0,0,07-08
2293,15/08/07,Man City,Derby,1,0,H,1,0,H,9,5,6,3,12,13,4,4,3,1,0,0,07-08
2294,15/08/07,Portsmouth,Man United,1,1,D,0,1,A,7,20,6,12,13,5,6,12,2,1,1,1,07-08
2295,15/08/07,Reading,Chelsea,1,2,A,1,0,H,15,15,11,7,15,16,4,11,4,5,1,0,07-08
2296,15/08/07,Wigan,Middlesbrough,1,0,H,0,0,D,14,5,5,1,8,20,5,3,1,3,0,0,07-08
2297,18/08/07,Birmingham,West Ham,0,1,A,0,0,D,6,13,3,5,16,15,9,5,4,2,0,0,07-08
2298,18/08/07,Fulham,Middlesbrough,1,2,A,1,0,H,13,9,6,6,9,12,8,7,1,3,0,0,07-08
2299,18/08/07,Newcastle,Aston Villa,0,0,D,0,0,D,6,11,2,5,16,12,8,6,0,2,0,0,07-08

In [18]:
DatasetOne.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4180 entries, 0 to 4179
Data columns (total 9 columns):
Match_ID     4180 non-null int64
HomeTeam     4180 non-null object
AwayTeam     4180 non-null object
FTHG         4180 non-null int64
FTAG         4180 non-null int64
Season       4180 non-null object
Date_Time    4180 non-null object
Referee      4180 non-null object
Att          4180 non-null int64
dtypes: int64(4), object(5)
memory usage: 294.0+ KB

In [19]:
DatasetTwo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4180 entries, 2280 to 6460
Data columns (total 22 columns):
Date        4180 non-null object
HomeTeam    4180 non-null object
AwayTeam    4180 non-null object
FTHG        4180 non-null int64
FTAG        4180 non-null int64
FTR         4180 non-null object
HTHG        4180 non-null int64
HTAG        4180 non-null int64
HTR         4180 non-null object
HS          4180 non-null int64
AS          4180 non-null int64
HST         4180 non-null int64
AST         4180 non-null int64
HF          4180 non-null int64
AF          4180 non-null int64
HC          4180 non-null int64
AC          4180 non-null int64
HY          4180 non-null int64
AY          4180 non-null int64
HR          4180 non-null int64
AR          4180 non-null int64
Season      4180 non-null object
dtypes: int64(16), object(6)
memory usage: 751.1+ KB

In [20]:
# print(DatasetOne.HomeTeam.unique())
# print('--------')
# print(DatasetTwo.HomeTeam.unique())

In [21]:
# DatasetTwo.info()

In [22]:
PremierLeague = pd.merge(DatasetOne, DatasetTwo)

In [24]:
PremierLeague.head()

,Match_ID,HomeTeam,AwayTeam,FTHG,FTAG,Season,Date_Time,Referee,Att,Date,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,12,Sunderland,Tottenham,1,0,07-08,11/08/2007 12:45,Alan Wiley,43967,11/08/07,H,0,0,D,9,6,4,3,14,14,7,2,1,1,0,0
1,13,Bolton,Newcastle,1,3,07-08,11/08/2007 15:00,Chris Foy,25414,11/08/07,A,0,3,A,13,7,9,5,15,16,4,3,1,1,0,0
2,14,Derby,Portsmouth,2,2,07-08,11/08/2007 15:00,Mike Dean,32176,11/08/07,D,1,1,D,12,12,5,6,14,17,6,6,1,2,0,0
3,15,Everton,Wigan,2,1,07-08,11/08/2007 15:00,Mark Clattenburg,39220,11/08/07,H,1,0,H,12,14,8,4,8,13,6,2,0,0,0,0
4,16,Middlesbrough,Blackburn,1,2,07-08,11/08/2007 15:00,Andre Marriner,25058,11/08/07,A,1,0,H,10,4,6,4,16,16,13,3,3,4,0,0

In [25]:
PremierLeague.info()

### ONE MATCH IS MISSING - MUST BE A DIFFERENT SCORE IN EACH DATASET ##

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4179 entries, 0 to 4178
Data columns (total 26 columns):
Match_ID     4179 non-null int64
HomeTeam     4179 non-null object
AwayTeam     4179 non-null object
FTHG         4179 non-null int64
FTAG         4179 non-null int64
Season       4179 non-null object
Date_Time    4179 non-null object
Referee      4179 non-null object
Att          4179 non-null int64
Date         4179 non-null object
FTR          4179 non-null object
HTHG         4179 non-null int64
HTAG         4179 non-null int64
HTR          4179 non-null object
HS           4179 non-null int64
AS           4179 non-null int64
HST          4179 non-null int64
AST          4179 non-null int64
HF           4179 non-null int64
AF           4179 non-null int64
HC           4179 non-null int64
AC           4179 non-null int64
HY           4179 non-null int64
AY           4179 non-null int64
HR           4179 non-null int64
AR           4179 non-null int64
dtypes: int64(18), object(8)
memory usage: 881.5+ KB

In [16]:
# datasets with tables for previous seasons
tables = pd.read_csv("../Assignment4/tables.csv")

In [17]:
tables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1343 entries, 0 to 1342
Data columns (total 12 columns):
year     1343 non-null object
title    1343 non-null object
Team     1343 non-null object
A        1343 non-null int64
D        1343 non-null int64
F        1343 non-null int64
GD       1343 non-null int64
L        1343 non-null int64
P        1343 non-null int64
Pos      1343 non-null int64
Pts      1343 non-null int64
W        1343 non-null int64
dtypes: int64(9), object(3)
memory usage: 126.0+ KB

In [31]:
tables.head(10)

,year,title,Team,A,D,F,GD,L,P,Pos,Pts,W
0,2016/2017,Premier League 2016-2017,Chelsea,33,3,85,52,5,38,1,93,30
1,2016/2017,Premier League 2016-2017,Tottenham Hotspurs,26,8,86,60,4,38,2,86,26
2,2016/2017,Premier League 2016-2017,Manchester City,39,9,80,41,6,38,3,78,23
3,2016/2017,Premier League 2016-2017,Liverpool,42,10,78,36,6,38,4,76,22
4,2016/2017,Premier League 2016-2017,Arsenal,44,6,77,33,9,38,5,75,23
5,2016/2017,Premier League 2016-2017,Manchester United,29,15,54,25,5,38,6,69,18
6,2016/2017,Premier League 2016-2017,Everton,44,10,62,18,11,38,7,61,17
7,2016/2017,Premier League 2016-2017,Southampton,48,10,41,-7,16,38,8,46,12
8,2016/2017,Premier League 2016-2017,Bournemouth,67,10,55,-12,16,38,9,46,12
9,2016/2017,Premier League 2016-2017,West Bromwich Albion,51,9,43,-8,17,38,10,45,12

In [19]:
tables.tail()

,year,title,Team,A,D,F,GD,L,P,Pos,Pts,W
1338,1888/1889,First Division 1888-89,Everton,46,2,35,-11,11,22,8,20,9
1339,1888/1889,First Division 1888-89,Burnley,62,3,42,-20,12,22,9,17,7
1340,1888/1889,First Division 1888-89,Derby County,60,2,41,-19,13,22,10,16,7
1341,1888/1889,First Division 1888-89,Notts County,73,2,39,-34,15,22,11,12,5
1342,1888/1889,First Division 1888-89,Stoke City,51,4,26,-25,14,22,12,12,4

In [26]:
StokeTable = tables[tables.Team == 'Stoke City']

In [30]:
StokeTable.year.unique()

array(['2016/2017', '2014/2015', '2013/2014', '2012/2013', '2011/2012',
       '2010/2011', '2009/2010', '2008/2009', '1984/1985', '1983/1984',
       '1982/1983', '1981/1982', '1980/1981', '1979/1980', '1976/1977',
       '1974/1975', '1973/1974', '1972/1973', '1971/1972', '1970/1971',
       '1969/1970', '1968/1969', '1967/1968', '1965/1966', '1964/1965',
       '1963/1964', '1949/1950', '1948/1949', '1947/1948', '1946/1947',
       '1938/1939', '1937/1938', '1936/1937', '1891/1892', '1889/1890',
       '1888/1889'], dtype=object)